<img class="card-img-top" src="{{mainPhoto}}">
<div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{description}}</p>
    <div class="text-right"><button class="btn btn-danger">Delete</button></div>
</div>
<div class="card-footer bh-transparent text-muted row">
    <div class="col">{{category}}</div>
    <div class="col text-right">{{price}} €</div>
</div>